# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
.env

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Log files
*.log

# Test output
htmlcov/
.coverage
coverage.xml
*.cover
.cache
nosetests.xml
pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/
*.spec
!pyinstaller.spec

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

samples
/*.png
*.mp4
